
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
	padding-top: 70px;
}

.navbar {
	top: 0;
	-webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    transition: top 0.2s;
}
.navbar.scrolled {
	top: -50px;
}

.selected-people {
	margin-bottom: 10px;
}
.tag {
	height: 36px;
	border: 1px solid #ccd0d2;
	border-radius: 4px;
	padding: 6px 12px;
	margin-right: 10px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 5px;
	a {
		margin-left: 6px;
	}
}

.tag-selector {
	position: relative;
}
.tag-selector-options {
	position: absolute;
	top: 60px;
	background: #FFF;
	width: 100%;
	max-height: 400px;
	overflow-y: scroll;
	border: 1px solid #ccd0d2;
	border-top: 0;
	padding: 6px 0;
	z-index: 9;
	div {
		padding: 0 12px;
		&:hover {
			cursor: pointer;
			background: #e6e5e5;
		}
	}
}

.voting-component {
	position: relative;

	.voting-options {
		display: none;
		background: #FFFFFF;
		position: absolute;
		left: 50%;
		right: 0;

		.down {
			float: left;
		}
		.up {
			float: right;
		}
	}

	&:hover {
		.voting-options {
			display: block;
		}
	}
}

.notifications {
	width: 290px;
	li {
		padding: 0 40px 0 20px;
		position: relative;

		&.new {
			background: #eee;
		}

		.glyphicon {
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			right: 10px;
		}
	}
}

.profile-heading {
	.profile-picture {
		width: 60px;
		margin-right: 8px;
	}
	.profile-info {
		display: inline-block;
	}
}

.cover-photo {
	height: 200px;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.move-up {
	position: relative;
	margin-top: -5px;
	z-index: 1;
}
